#carpet-slider.beer-slider(data-beer-label="")
    img(src="img/carpet-before.webp", alt="")
    .beer-reveal(data-beer-label="")
        img(src="img/carpet-after.webp", alt="")
script.
    let carpetSlider = new BeerSlider( document.getElementById( "carpet-slider" ) );