#furniture-slider.beer-slider(data-beer-label="")
    img(src="img/sofa-before.webp", alt="")
    .beer-reveal(data-beer-label="")
        img(src="img/sofa-after.webp", alt="")
script.
    let furnitureSlider = new BeerSlider( document.getElementById( "furniture-slider" ) );