#mattress-slider.beer-slider(data-beer-label="")
    img(src="img/mattress-before.webp", alt="")
    .beer-reveal(data-beer-label="")
        img(src="img/mattress-after.webp", alt="")
script.
    let mattressSlider = new BeerSlider( document.getElementById( "mattress-slider" ) );