#salon-slider.beer-slider(data-beer-label="")
    img(src="img/salon-before.webp", alt="")
    .beer-reveal(data-beer-label="")
        img(src="img/salon-after.webp", alt="")
script.
    let salonSlider = new BeerSlider( document.getElementById( "salon-slider" ) );