#window-slider.beer-slider(data-beer-label="")
    img(src="img/window-before.webp", alt="")
    .beer-reveal(data-beer-label="")
        img(src="img/window-after.webp", alt="")
script.
    let windowSlider = new BeerSlider( document.getElementById( "window-slider" ) );