section.details.bg.bg-dark
  .container 
    .row.flex-column-reverse.flex-lg-row
      .col-12.col-lg-8.align-self-center 
        .block
          .row.g-4 
            .col-12(data-aos="fade-left")
              h1.details__title.mb-0.text-uppercase Хімчистка оббивки диванів, крісел, стільців та іншої м’якої меблі у Празі та околицях
            .col-12
                .details__subtitle.extractor 
                    .extractor__cleaner(data-aos="fade-left", data-aos-delay="200") 
                    h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left", data-aos-delay="300") Повернемо вашій м’якій меблі свіжість та охайний вигляд. Видаляємо плями, пил, алергени й неприємні запахи за допомогою професійного обладнання та безпечних засобів.
            .col-12(data-aos="fade-left", data-aos-delay="400") 
              ul.m-0
                li Глибоке очищення тканини та наповнювача
                li Видалення плям від їжі, напоїв та побутового бруду
                li Усунення неприємних запахів і алергенів
                li Безпечні засоби для людей і тварин
                li Подовження терміну служби меблів
                li Виїзд у зручний для вас час у Празі та околицях
            .col-12(data-aos="fade-left", data-aos-delay="500")  
              .row.g-2.justify-content-center.justify-content-sm-start 
                include ../cta-buttons
      .col-12.col-lg-4
          .mask
              .triangle.triangle-135.top-inner.left-inner
              .triangle.triangle-45.top-inner.right-inner
              .triangle.triangle-225.bottom-inner.left-inner
              .triangle.triangle-315.bottom-inner.right-inner
              .triangle.triangle-45.top-inner.left-outer.offset-x-p
              .triangle.triangle-135.top-inner.right-outer.offset-x-p
              .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
              .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
              .line.line-v-100.top-inner.right-outer
              .line.line-v-50.top-inner.left-outer
              .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
              .rectangle.rectangle-50.left-inner.bottom-inner
                  .triangle.triangle-225.left-inner.top-outer
                  .triangle.triangle-225.bottom-inner.right-outer
                  .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                  .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                  .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
              img.mask__img(src="img/service-furniture.jpg", alt="", data-aos="fade-in")
              .mask__inner(data-aos="fade-down", data-aos-delay="200") 
                  .text-center
                      img(src="img/logo.png", alt="", width="50")
                  .h3.text-center.text-uppercase.text-bold White Clean
                  p.text-center.text-light Прага, Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице
                      //- br
                      //- span Пн. - Сб. 
                      //- span.text-digits 7.00 - 22.00
                  include ../socials