.bg {
  background-color: var(--section-color);
  color: var(--text-color);
}

.bg-dark {
  --section-color: var(--fourth-color);
  --text-color: var(--first-color);
  
  background-color: var(--fourth-color);
  background: radial-gradient(circle, transparent 20%, var(--section-color) 20%, var(--section-color) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--section-color) 20%, var(--section-color) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000000 2px, var(--section-color) 2px) -1px 0;
  background-size: 500px 500px, 50px 50px, 25px 25px, 25px 25px;

}

.bg-light {
  --section-color: var(--first-color);
}



