.feature {
    background: #fff;
    &__title {
        margin-bottom: var(--h6);
    }
    &__subtitle {
        margin-bottom: var(--h2);
    }
    &__slider {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &__btn {
        margin-top: var(--h2);
    }
    &__description {
        padding: 1rem;
    }
}