section.details.bg.bg-dark
  .container 
    .row.flex-column-reverse.flex-lg-row
      .col-12.col-lg-8.align-self-center 
        .block
          .row.g-4 
            .col-12(data-aos="fade-left" data-aos-delay="200")
              h1.details__title.mb-0.text-uppercase Клінінг квартир, будинків та офісів
            .col-12
                .details__subtitle.extractor 
                    .extractor__cleaner(data-aos="fade-left", data-aos-delay="3200") 
                    h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left", data-aos-delay="400") Надаємо професійні послуги з прибирання житлових і комерційних приміщень. Використовуємо сучасне обладнання та безпечні засоби, щоб ваш простір завжди залишався чистим, свіжим і затишним.
            .col-12(data-aos="fade-left", data-aos-delay="00") 
              ul.m-0
                li Прибирання квартир, приватних будинків і офісів
                li Генеральне та регулярне прибирання на вибір
                li Видалення пилу, бруду й плям навіть у важкодоступних місцях
                li Використання екологічно безпечних засобів
                li Економія часу та зусиль для клієнтів
                li Виїзд у зручний для вас час
            .col-12(data-aos="fade-in", data-aos-delay="600")  
              .row.g-2.justify-content-center.justify-content-sm-start 
                include ../cta-buttons
      .col-12.col-lg-4
          .mask
              .triangle.triangle-135.top-inner.left-inner
              .triangle.triangle-45.top-inner.right-inner
              .triangle.triangle-225.bottom-inner.left-inner
              .triangle.triangle-315.bottom-inner.right-inner
              .triangle.triangle-45.top-inner.left-outer.offset-x-p
              .triangle.triangle-135.top-inner.right-outer.offset-x-p
              .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
              .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
              .line.line-v-100.top-inner.right-outer
              .line.line-v-50.top-inner.left-outer
              .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
              .rectangle.rectangle-50.left-inner.bottom-inner
                  .triangle.triangle-225.left-inner.top-outer
                  .triangle.triangle-225.bottom-inner.right-outer
                  .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                  .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                  .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
              img.mask__img(src="img/service-cleaning.jpg", alt="", data-aos="fade-in")
              .mask__inner(data-aos="fade-down", data-aos-delay="200") 
                  .text-center.text-light 
                      b.text-bold Ми працюємо в містах: 
                      | Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице
                  include ../socials