extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Хімчистка коврів у Празі | White Clean"
  - const pageDescription = "Професійна хімчистка килимів у Празі та околицях. White Clean видаляє бруд, пил і плями, повертає кольорам яскравість і свіжість."
  - const pageKeywords = "хімчистка коврів Прага, хімчистка килимів Прага, чистка ковроліну Прага, професійна чистка коврів Прага, екологічна хімчистка коврів Прага, White Clean Прага"
  - const pageUrl = "carpet.html"
  - const pageImage = "img/service-carpet.jpg"
  - const twitterImage = "img/service-carpet.jpg"
  - const themeColor = "#ffffff"

append head
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Хімчистка килимів",
      "provider": {
        "@type": "LocalBusiness",
        "name": "White Clean",
        "url": "https://whiteclean.cz/",
        "telephone": "+420 XXX XXX XXX"
      },
      "url": "https://whiteclean.cz/carpet.html",
      "areaServed": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Прага",
          "addressCountry": "CZ"
        }
      },
      "description": "Професійна хімчистка килимів у Празі та околицях. Видаляємо пил, бруд та плями, повертаємо яскравість кольорів і подовжуємо термін служби килимів."
    }


append content
  include components/header
  main
    include components/carpet/details
    include components/price
    include components/cta
    include components/reviews
    include components/contacts
    include components/popup
  include components/footer

append scripts
