extends settings/layout

prepend html
  - const lang = "uk";

prepend head
  - const pageTitle = "Клінінг приміщень | White Clean - Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице."
  - const pageDescription = "Регулярне та генеральне прибирання квартир, будинків і офісів."
  - const pageKeywords = "клінінг приміщень, прибирання квартир, прибирання офісів, клінінгові послуги, професійне прибирання, клінінг під ключ"
  - const pageUrl = "cleaning.html"
  - const pageImage = "img/service-cleaning.jpg"
  - const twitterImage = "img/service-cleaning.jpg"
  - const themeColor = "#ffffff"

append head
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Клінінг приміщень",
      "provider": {
        "@type": "LocalBusiness",
        "name": "White Clean",
        "url": "https://whiteclean.cz/",
        "telephone": "+420 XXX XXX XXX"
      },
      "url": "https://whiteclean.cz/cleaning.html",
      "areaServed": [
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешская Будиевица",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешский Крумлов",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Прахатице",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Писек",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Табор",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Їндржихув-Градец",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Страконице",
            "addressCountry": "CZ"
          }
        },
      ],
      "description": "Професійний клінінг квартир, будинків та офісів. Швидке та ефективне прибирання з використанням безпечних засобів."
    }

append content
  script. 
    const initialCategory = 4;
  include components/header-2
  main
    include components/cleaning/details
    include components/price
    include components/cta
    include components/reviews
    include components/works
    include components/contacts
    include components/popup
    include components/icons
  include components/footer

append scripts
