extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Хімчистка оббивки меблів у Празі | White Clean"
  - const pageDescription = "Професійна хімчистка диванів, крісел та стільців у Празі та околицях. White Clean видаляє плями, пил і запахи, повертаючи меблям свіжість та охайний вигляд."
  - const pageKeywords = "хімчистка меблів Прага, хімчистка оббивки Прага, хімчистка дивану Прага, хімчистка крісел Прага, професійна хімчистка меблів Прага, чистка меблів від плям Прага, White Clean Прага"
  - const pageUrl = "furniture.html"
  - const pageImage = "img/service-furniture.jpg"
  - const twitterImage = "img/service-furniture.jpg"
  - const themeColor = "#ffffff"


append head
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Хімчистка оббивки меблів",
      "provider": {
        "@type": "LocalBusiness",
        "name": "White Clean",
        "url": "https://whiteclean.cz/",
        "telephone": "+420 123 456 789"
      },
      "url": "https://whiteclean.cz/furniture.html",
      "areaServed": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Прага",
          "addressCountry": "CZ"
        }
      },
      "description": "Професійна хімчистка диванів, крісел та стільців у Празі та околицях. White Clean видаляє плями, пил та запахи, повертаючи меблям свіжість та охайний вигляд."
    }


append content
  include components/header
  main
    include components/furniture/details
    include components/price
    include components/cta
    include components/reviews
    include components/contacts
    include components/popup
  include components/footer

append scripts
