extends settings/layout

prepend html
  - const lang = "uk";

prepend head
  - const pageTitle = "Хімчистка меблів, матраців, коврів, клінінг приміщень і мийка вікон | White Clean - Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице."
  - const themeColor = "#ffffff"
  - const pageDescription = "Професійна хімчистка меблів, матраців, коврів, клінінг приміщень і мийка вікон."
  - const pageKeywords = "хімчистка меблів, хімчистка оббивки, хімчистка матраців, хімчистка коврів, клінінг приміщень, мийка вікон, професійна хімчистка, прибирання квартир, прибирання офісів, клінінгові послуги, хімчистка дивану, хімчистка крісел, хімчистка килимів та ковроліну, чищення меблів від плям, чищення матрацу від запаху, професійне прибирання та околиці, екологічна хімчистка, хімчистка вдома, миття та полірування вікон, клінінг під ключ, хімчистка меблів та околиці, хімчистка коврів передмістя, прибирання будинків та околиці, клінінгові послуги"
  - const pageUrl = "";
  - const pageImage = "img/logo-big.png";
  - const twitterImage = "img/logo-big.png";

append head
  //- link(rel="preload" as="image" href="img/promo-bg-mob.webp" type="image/webp" media="(max-width: 575px)")
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "WhiteClean",
      "image": "https://whiteclean.com.cz/img/logo.png",
      "url": "https://whiteclean.com.cz/",
      "telephone": "+99 999 999 999",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Praha",
        "addressCountry": "CZ"
      },
      "description": "White Clean — професійна хімчистка меблів, матраців, коврів, клінінг приміщень і мийка вікон.",
      "areaServed": [
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешская Будиевица",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешский Крумлов",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Прахатице",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Писек",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Табор",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Їндржихув-Градец",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Страконице",
            "addressCountry": "CZ"
          }
        },
      ]
    }


append content
  script. 
    const initialCategory = 0;
  include components/header
  main
    include components/promo
    include components/services
    include components/about
    include components/why
    include components/how
    include components/price
    hr
    include components/works
    include components/cta
    include components/reviews
    include components/faq
    include components/contacts
    include components/popup
    include components/icons
  include components/footer

append scripts
