extends settings/layout

prepend html
  - const lang = "uk";

prepend head
  - const pageTitle = "Хімчистка матраців у Празі | White Clean - Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице."
  - const pageDescription = "Професійна хімчистка матраців. Видаляємо пил, алергени та запахи, забезпечуючи чистоту й здоровий сон."
  - const pageKeywords = "хімчистка матраців, чистка матраців від пилу, професійна хімчистка матраців, екологічна хімчистка матраців, чистка матраців від плям"
  - const pageUrl = "mattress.html"
  - const pageImage = "img/service-mattress.jpg"
  - const twitterImage = "img/service-mattress.jpg"
  - const themeColor = "#ffffff"


append head
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Хімчистка матраців",
      "provider": {
        "@type": "LocalBusiness",
        "name": "White Clean",
        "url": "https://whiteclean.cz/",
        "telephone": "+420 XXX XXX XXX"
      },
      "url": "https://whiteclean.cz/mattress.html",
      "areaServed": [
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешская Будиевица",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешский Крумлов",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Прахатице",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Писек",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Табор",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Їндржихув-Градец",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Страконице",
            "addressCountry": "CZ"
          }
        },
      ],
      "description": "Професійна хімчистка матраців. Видаляємо пил, алергени та запахи, забезпечуючи чистоту й здоровий сон."
    }


append content
  script. 
    const initialCategory = 1;
  include components/header-2
  main
    include components/mattress/details
    include components/price
    include components/cta
    include components/reviews
    include components/works
    include components/contacts
    include components/popup
    include components/icons
  include components/footer

append scripts
