extends settings/layout

prepend html
  - const lang = "uk";

prepend head
  - const pageTitle = "Мийка вікон | White Clean - Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице"
  - const pageDescription = "Професійна мийка вікон. Ідеальна чистота без розводів, навіть у важкодоступних місцях."
  - const pageKeywords = "мийка вікон, професійна мийка вікон, миття вікон без розводів, миття вікон у квартирах, миття офісних вікон, клінінг вікон"
  - const pageUrl = "window.html"
  - const pageImage = "img/service-window.jpg"
  - const twitterImage = "img/service-window.jpg"
  - const themeColor = "#ffffff"


append head
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Мийка вікон",
      "provider": {
        "@type": "LocalBusiness",
        "name": "White Clean",
        "url": "https://whiteclean.cz/",
        "telephone": "+420 XXX XXX XXX"
      },
      "url": "https://whiteclean.cz/window.html",
      "areaServed": [
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешская Будиевица",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Чешский Крумлов",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Прахатице",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Писек",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Табор",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Їндржихув-Градец",
            "addressCountry": "CZ"
          }
        },
        {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Страконице",
            "addressCountry": "CZ"
          }
        },
      ],
      "description": "Професійна мийка вікон у квартирах, будинках та офісах. Ідеальна чистота без розводів і плям."
    }


append content
  script. 
    const initialCategory = 3;
  include components/header-2
  main
    include components/window/details
    include components/price
    include components/cta
    include components/reviews
    include components/works
    include components/contacts
    include components/popup
    include components/icons
  include components/footer

append scripts
