.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Килим 1-5м
                    sup 2
                p.price-item__value від 500 крон
                    sup * 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Килим 5-15м
                    sup 2
                p.price-item__value від 1000 крон
                    sup * 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Килим Од 15м
                    sup 2*
                p.price-item__value від 80 крон / м
                    sup 2
        .col-12 
            .price-item  * ціна може змінюватись в залежності від ступеня забрудення