.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Тип дивана I
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 1050 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Тип дивана I-L
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 1550 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Тип дивана L-U
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 1950 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Стул
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | од 150 крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Кресло
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | от 450 крон 