.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Стандартная уборка 1+кк
                p.price-item__value від 1200 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Стандартная уборка 2+кк
                p.price-item__value від 1600 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Стандартная уборка 3+кк
                p.price-item__value від 2200 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Стандартная уборка 4+кк
                p.price-item__value від 2800 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Генеральная уборка 1+кк
                p.price-item__value від 2000 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Генеральная уборка 2+кк
                p.price-item__value від 2600 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Генеральная уборка 3+кк
                p.price-item__value від 3400 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Генеральная уборка 4+кк
                p.price-item__value від 4200 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Дом стандарт
                p.price-item__value від 100 м<sup>2</sup> от 3000 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Дом генеральная
                p.price-item__value від 100 м<sup>2</sup> от 4500 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Уборка после стройки
                p.price-item__value ціна індивідуальна від обсягу робіт