.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Стандартная уборка 1+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 1200
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Стандартная уборка 2+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 1600
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Стандартная уборка 3+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 2200 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Стандартная уборка 4+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 2800
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Генеральная уборка 1+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 2000 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Генеральная уборка 2+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 2600 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Генеральная уборка 3+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 3400 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Генеральная уборка 4+кк
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 4200 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Дом стандарт
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 100м2 от 3000 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Дом генеральная
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 100м2 от 4500 крон
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Уборка после стройки
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | ціна індивідуальна від обсягу робіт