.price-table
    .row.price-table__row.g-2
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Тип дивана I
                p.price-item__value 1050 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Тип дивана I-L
                p.price-item__value 1550 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Тип дивана L-U
                p.price-item__value 1950 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Стул
                p.price-item__value од 150 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Кресло
                p.price-item__value от 450 крон *
        .col-12 
            .price-item  * сушка + 30%