.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Матрас 1 местный
                p.price-item__value од 1000 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Матрас 2 местный
                p.price-item__value од 1600 крон *
        .col-12 
            .price-item  * ціна може змінюватись в залежності від ступеня забрудення