.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Матрас 1 местный
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | од 1000 крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Матрас 2 местный
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | од 1600 крон  
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Malý koberec (do 3 m²) 
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    |  фикс Од 500 Kč 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Koberce nad 3 m²
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | od 80 Kč m²