.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Одностворчатое окно
                p.price-item__value від 100 крон <sup>*</sup>
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Одинарное широкое окно
                p.price-item__value від 160 крон <sup>*</sup>
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Двухстворчатое окно
                p.price-item__value від 220 крон <sup>*</sup>
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Трехстворчатое окно
                p.price-item__value від 280 крон <sup>*</sup>
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Панорамное окно
                p.price-item__value від 270 крон <sup>*</sup>
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Балконный блок
                p.price-item__value від 320 крон <sup>*</sup>
        .col-12 
            .price-item * підсумкова варість може змінюватись в залежності розмірів та кількості вікон