.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Одностворчатое окно
                p.price-item__value 100 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Одинарное широкое окно
                p.price-item__value 160крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Двухстворчатое окно
                p.price-item__value 220 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Трехстворчатое окно
                p.price-item__value 280 крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Панорамное окно
                p.price-item__value 270крон *
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6.price-item__title Балконный блок
                p.price-item__value 320крон *
        .col-12 
            .price-item * підсумкова варість може змінюватись в залежності розмірів та кількості вікон