.price-table
    .row.price-table__row
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Одностворчатое окно
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 100 крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Одинарное широкое окно
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 160крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Двухстворчатое окно
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 220 крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Трехстворчатое окно
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 280 крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Панорамное окно
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 270крон 
        .col-6.col-md-4.col-xxl-3.price-table__col
            .price-item 
                h4.h6 Балконный блок
                p 
                    svg.icon.icon-right(width="16" height="16")
                        use(xlink:href="#icon-cash")
                    | 320крон 