section#contacts.contacts.block
	.container
		.row.g-4 
			.col-12(data-aos="fade-down")
				h2.contacts__title.text-center.text-uppercase Контакти
			.col-12(data-aos="fade-in", data-aos-delay="600") 
				<iframe class="contacts__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d337607.05432041927!2d14.164697980114202!3d50.04004396328817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b939c0970798b%3A0x400af0f66164090!2z0J_RgNCw0LPQsCwg0KfQtdGF0ZbRjw!5e0!3m2!1suk!2sua!4v1756041057146!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			.col-12
				.row.g-2 
					.col-12.col-md-6.col-lg-3.text-center(data-aos="fade-in-left", data-aos-delay="300")  
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Адреса
							p Прага та околиці 
					.col-12.col-md-6.col-lg-3.text-center(data-aos="fade-in-left", data-aos-delay="400")   
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Соціальні мережі
							include ./socials
					.col-12.col-md-6.col-lg-3.text-center(data-aos="fade-in-left", data-aos-delay="500")   
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Телефон
							a(href="tel:+999999999").link +999999999
					.col-12.col-md-6.col-lg-3.text-center(data-aos="fade-in-left", data-aos-delay="500")  
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Гhафік роботи
							p Пн-Сб: 6:00 – 22:00