section#contacts.contacts.block
	.container
		.row.g-4 
			.col-12(data-aos="fade-down")
				h2.contacts__title.text-center.text-uppercase Контакти
			.col-12(data-aos="fade-in", data-aos-delay="100") 
				.contacts__iframe(data-src="https://www.google.com/maps/d/embed?mid=1Hk1pnecOQ-PiTTtADnm4MF4_-QCaw6E&ehbc=2E312F&noprof=1")
				//- <iframe class="contacts__iframe" src="https://www.google.com/maps/d/embed?mid=1Hk1pnecOQ-PiTTtADnm4MF4_-QCaw6E&ehbc=2E312F&noprof=1" width="640" height="480" loading="lazy" name="White Clean"></iframe>
			.col-12(data-aos="fade-in", data-aos-delay="200") 
				.row.g-2 
					.col-12.col-md-6.col-lg-3.text-center
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Адреса
							p Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице
							//- p * Чешская Будиевица та околиці в радіусі до 15км приїд безкоштовний. У всі інші міста + 100 крон за приїзд
					.col-12.col-md-6.col-lg-3.text-center 
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Соціальні мережі
							include ./socials
					.col-12.col-md-6.col-lg-3.text-center   
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Телефон
							a(href="tel:+999999999").link +999999999
					.col-12.col-md-6.col-lg-3.text-center
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h6 Гhафік роботи
							p Пн-Сб: 6:00 – 22:00