.accordion 
    .accordion-item.card.card-primary 
        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
        .card__header
            .card__icon 1
            h4.h6.card__title Zgłoszenie usługi
        .card__body Skontaktuj się z nami telefonicznie lub przez formularz. Ustalimy dogodny termin.
    .accordion-item.card.card-primary
        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
        .accordion-item__header
            .accordion-item__icon 2
            h4.h6.accordion-item__title Ocena zakresu prac
        .accordion-item__body Po przyjeździe ocenimy stopień zabrudzenia i określimy czas oraz koszt czyszczenia.
    .accordion-item.card.card-primary
        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
        .accordion-item__header
            .accordion-item__icon 3
            h4.h6.accordion-item__title Wykonanie usługi
        .accordion-item__body Przystępujemy do czyszczenia w ustalonym czasie – dokładnie, bezpiecznie i profesjonalnie.
    .accordion-item.card.card-primary
        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
        .accordion-item__header
            .accordion-item__icon 4
            h4.h6.accordion-item__title Gotowe!
        .accordion-item__body Odbierasz świeżo wyczyszczone meble, wnętrze auta lub tekstylia – czyste i pachnące.