section.faq#faq.bg.bg-dark
    .container
        .row.flex-column-reverse.flex-lg-row 
            .col-12.col-lg-8 
                .block
                    //- h2.faq__title.text-uppercase Najczęstsze pytania
                    .accordion
                        .accordion-item.card.card-primary-outline(data-aos="fade-in-right", data-aos-delay="400")
                            .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                            .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                            .accordion-item__header
                                h6.accordion-item__title Як часто слід чистити м’які меблі?
                                button.accordion-item__btn.btn.btn-small.btn-primary(type="button") 
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.icon.in-active-none(width="16", height="16")
                                        use(href="#plus")
                                    svg.icon.in-inactive-none(width="16", height="16")
                                        use(href="#minus")
                            .accordion-item__body
                                div Ми рекомендуємо професійно чистити оббивку меблів кожні 6–12 місяців. У будинках, де є діти, домашні тварини або люди, які страждають на алергію, варто робити це частіше, щоб ваші меблі залишалися чистими та свіжими.

                        .accordion-item.card.card-primary-outline(data-aos="fade-in-right", data-aos-delay="500") 
                            .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                            .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                            .accordion-item__header
                                h6.accordion-item__title Чи можна видалити всі плями?
                                button.accordion-item__btn.btn.btn-small.btn-primary(type="button") 
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.icon.in-active-none(width="16", height="16")
                                        use(href="#plus")
                                    svg.icon.in-inactive-none(width="16", height="16")
                                        use(href="#minus")
                            .accordion-item__body
                                div Більшість плям можна ефективно видалити, але все залежить від типу плями, часу її перебування та попередніх спроб очищення. Деякі стійкі плями можуть залишати незначні зміни кольору.

                        .accordion-item.card.card-primary-outline(data-aos="fade-in-right", data-aos-delay="600")  
                            .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                            .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                            .accordion-item__header
                                h6.accordion-item__title Скільки часу потрібно, щоб оббивка висохла після чищення?
                                button.accordion-item__btn.btn.btn-small.btn-primary(type="button") 
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.icon.in-active-none(width="16", height="16")
                                        use(href="#plus")
                                    svg.icon.in-inactive-none(width="16", height="16")
                                        use(href="#minus")
                            .accordion-item__body
                                div Час висихання залежить від матеріалу та умов у приміщенні. Зазвичай це займає від 5 до 12 годин. Висихання відбувається швидше в теплому, провітрюваному місці.

                        .accordion-item.card.card-primary-outline(data-aos="fade-in-right", data-aos-delay="700")  
                            .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                            .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                            .accordion-item__header
                                h6.accordion-item__title Чи безпечні засоби для чищення для дітей та домашніх тварин?
                                button.accordion-item__btn.btn.btn-small.btn-primary(type="button") 
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.icon.in-active-none(width="16", height="16")
                                        use(href="#plus")
                                    svg.icon.in-inactive-none(width="16", height="16")
                                        use(href="#minus")
                            .accordion-item__body
                                div Так. Ми використовуємо сертифіковані засоби, які є безпечними та не викликають алергії. Після чищення ми рекомендуємо не користуватися меблями, доки вони повністю не висохнуть.

                        .accordion-item.card.card-primary-outline(data-aos="fade-in-right", data-aos-delay="800")  
                            .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                            .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                            .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                            .accordion-item__header
                                h6.accordion-item__title Як підготувати меблі до чищення?
                                button.accordion-item__btn.btn.btn-small.btn-primary(type="button") 
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.icon.in-active-none(width="16", height="16")
                                        use(href="#plus")
                                    svg.icon.in-inactive-none(width="16", height="16")
                                        use(href="#minus")
                            .accordion-item__body
                                div Просто вийміть подушки, ковдри та інші предмети з меблів. Не потрібно їх пересувати чи розставляти — ми подбаємо про все на місці.
            .col-12.col-lg-4 
                .mask 
                    .triangle.triangle-135.top-inner.left-inner
                    .triangle.triangle-45.top-inner.right-inner
                    .triangle.triangle-225.bottom-inner.left-inner
                    .triangle.triangle-315.bottom-inner.right-inner
                    .triangle.triangle-45.top-inner.left-outer.offset-x-p
                    .triangle.triangle-135.top-inner.right-outer.offset-x-p
                    .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
                    .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
                    .line.line-v-100.top-inner.right-outer
                    .line.line-v-50.top-inner.left-outer
                    .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
                    .rectangle.rectangle-50.left-inner.bottom-inner
                        .triangle.triangle-225.left-inner.top-outer
                        .triangle.triangle-225.bottom-inner.right-outer
                        .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                        .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                        .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
                    img.mask__img(src="img/faq-img.jpg", alt="", data-aos="fade-in")
                    .mask__inner(data-aos="fade-down", data-aos-delay="400") 
                        h2.mask__title Часті питання
                        h3.h6.mask__subtitle Дізнайтесь відповіді на найчастіші запитання

