//- section.feature.block
//-     .container 
//-         h2.text-center.feature__title.text-uppercase 
//-             span.text-third Tapicerka Podsufitki 
//-             | &mdash; Nasza Flagowa Usługa
//-         h3.h6.text-light.text-center.feature__subtitle Tapicerka podsufitki to nasza flagowa usługa, od której zaczęła się historia Tapik.
//-         .row.align-items-center 
//-             .col-12.col-lg-6 
//-                 ol.row 
//-                     li.bullet 
//-                         h4.bullet__title.h6 Nowy wygląd wnętrza: 
//-                         p.bullet__description Estetyczna podsufitka znacząco wpływa na odbiór całej kabiny.
//-                     li.bullet 
//-                         h4.bullet__title.h6 Trwałe materiały: 
//-                         p.bullet__description Stosujemy wysokiej jakości tkaniny odporne na odkształcenia i odklejanie.
//-                     li.bullet 
//-                         h4.bullet__title.h6 Precyzyjne wykonanie: 
//-                         p.bullet__description Fachowy montaż bez fałd i niedociągnięć.
//-                     li.bullet 
//-                         h4.bullet__title.h6 Indywidualny dobór kolorów: 
//-                         p.bullet__description Dobieramy materiał idealnie do tapicerki i stylu auta.
//-                     li.bullet 
//-                         h4.bullet__title.h6 Usługa z demontażem: 
//-                         p.bullet__description Cały proces odbywa się w naszym warsztacie – wystarczy zostawić auto.
//-             .col-12.col-lg-auto
//-                 .feature__slider
//-                     #process-slider.beer-slider(data-beer-label="")
//-                         img(src="img/before.webp", alt="Processed")
//-                         .beer-reveal(data-beer-label="")
//-                             img(src="img/after.webp", alt="Original")
//-             .col-12
//-                 .feature__description.custom-bg-light
//-                     div Dzięki setkom zrealizowanych projektów w tej dziedzinie, dopracowaliśmy każdy etap pracy – od wyboru materiału po perfekcyjne wykończenie. 
//-                     br
//-                     div To właśnie podsufitki pozwoliły nam zbudować renomę i doświadczenie, które dziś wykorzystujemy również przy tapicerce foteli, kierownic i drzwi. Klienci cenią nas za precyzję, trwałość i estetykę, a my z dumą rozwijamy się dalej.
//-                     br
//-                     div Dowiedz się więcej o tapicerce podsufitki 
//-                         a(href="ceiling.html") tutaj
//-                         | . Z pozostałymi usługami możesz zapoznać się 
//-                         a(href="#services") tutaj
//-                         | .
//-         .feature__btn.text-center 
//-             a.btn.btn-primary.btn-large(href="#cta") Umów się