header.header 
    .container 
        .header__inner.custom-bg-dark
            .header__logo 
                a.logo(href="index.html") 
                    span.sr-only Logo
                    picture     
                        source(srcset="img/logo.webp", type="image/webp")
                        img(src="img/logo.png", alt="White Clean logo", width="50", height="50")
                    span.text-gradient-dark.text-uppercase.text-bold White Clean
            .header__menu#main-menu 
                nav.menu 
                    a.menu__item(href="#price") Ціни
                    a.menu__item(href="#reviews") Відгуки
                    a.menu__item(href="#works") Роботи
                    a.menu__item(href="#contacts") Контакти
                .header__menu-socials.text-center
                    include socials
                .header__menu-btn.text-center
                    a.btn.btn-third-outline.btn-small.btn-rhombus(href="tel:+999999999") 
                        .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                        .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                        .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                        .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                        svg.icon.icon-right.shake(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                            path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                        | Зв'язатись
            .header__button
                a.btn.btn-third-outline.btn-small.btn-rhombus(href="tel:+999999999") 
                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                    svg.icon.icon-right.shake(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                        path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                    | Зв'язатись
            .header__burger
                button.js-burger.btn.btn-transparent(type="button", aria-expanded="false", aria-controls="main-menu")
                    span.sr-only Otwórz menu mobilne
                    span.cross 
                        span 
                        span
                        span