section.how#how.bg.bg-dark
    .container
        .row.flex-column-reverse.flex-lg-row 
            .col-12.col-lg-6.col-xl-8.align-self-center 
                .block
                    .row.g-4.align-items-center.justify-content-center 
                        .col-12(data-aos="fade-in", data-aos-delay="200")
                            .row.g-2 
                                .col-12.col-sm-6.col-xxl-3
                                    .card.card-primary-outline.text-center.text-left-sm
                                        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                        .card__icon 
                                            svg(width="48", height="48")
                                                use(href="#contact")
                                        h4.h6.card__title Зв'яжіться з нами
                                        .card__body Ми обговоримо з вами деталі вашого замовлення, уточнивши дату, час та адресу для хімчистки.
                                .col-12.col-sm-6.col-xxl-3
                                    .card.card-primary-outline.text-center.text-left-sm
                                        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                        .card__icon 
                                            svg(width="48", height="48")
                                                use(href="#process")
                                        h4.h6.card__title Виконання замовлення
                                        .card__body У день вашого замовлення наш спеціаліст привезе все необхідне обладнання та засоби для чищення та виконає всю роботу
                                .col-12.col-sm-6.col-xxl-3
                                    .card.card-primary-outline.text-center.text-left-sm
                                        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                        .card__icon 
                                            svg(width="48", height="48")
                                                use(href="#cash")
                                        h4.h6.card__title Оплата
                                        .card__body Після завершення роботи ви здійсните оплату зручним для вас способом.
                                .col-12.col-sm-6.col-xxl-3
                                    .card.card-primary-outline.text-center.text-left-sm
                                        .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                        .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                        .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                        .card__icon 
                                            svg(width="48", height="48")
                                                use(href="#result")
                                        h4.h6.card__title Готово
                                        .card__body А тепер саме час насолодитися результатами хімчистки
                        .col-12(data-aos="fade-in", data-aos-delay="300")
                            .row.g-2.justify-content-center 
                                include cta-buttons
            .col-12.col-lg-6.col-xl-4
                .mask
                    .triangle.triangle-135.top-inner.left-inner
                    .triangle.triangle-45.top-inner.right-inner
                    .triangle.triangle-225.bottom-inner.left-inner
                    .triangle.triangle-315.bottom-inner.right-inner
                    .triangle.triangle-45.top-inner.left-outer.offset-x-p
                    .triangle.triangle-135.top-inner.right-outer.offset-x-p
                    .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
                    .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
                    .line.line-v-100.top-inner.right-outer
                    .line.line-v-50.top-inner.left-outer
                    .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
                    .rectangle.rectangle-50.left-inner.bottom-inner
                        .triangle.triangle-225.left-inner.top-outer
                        .triangle.triangle-225.bottom-inner.right-outer
                        .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                        .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                        .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
                    picture 
                        source(srcset="img/how-img-mob.webp", type="image/webp", media="(max-width: 575px)")
                        source(srcset="img/how-img-mob.jpg", media="(max-width: 575px)")
                        source(srcset="img/how-img.webp", type="image/webp")
                        img.mask__img(src="img/how-img.jpg", alt="", data-aos="fade-in", loading="lazy")
                    .mask__inner(data-aos="fade-down", data-aos-delay="100")
                        h2.mask__title Як парцюємо? 
                        h3.h6.mask__subtitle Подивіться, як виглядає весь процес впровадження послуги.