section.promo#promo.bg.bg-dark
    .container
        .row.flex-column-reverse.flex-lg-row
            .col-12.col-lg-8.align-self-center
                .block 
                    .row.g-4 
                        .col-12
                            h1.h2.promo__title.text-uppercase.mb-0(data-aos="fade-left", data-aos-delay="200") 
                                span Хімчистка оббивки меблів, матраців, килимів. Клінінг приміщень, мийка вікон.
                        .col-12
                            .promo__subtitle.extractor 
                                .extractor__cleaner(data-aos="fade-left", data-aos-delay="300") 
                                h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left", data-aos-delay="400") Ми ефективно видаляємо бруд за допомогою професійного обладнання. Ваша оселя знову виглядатиме як нова.
                        .col-12(data-aos="fade-in", data-aos-delay="500")
                            .row.g-2.justify-content-center.justify-content-sm-start 
                                include cta-buttons
            .col-12.col-lg-4
                .mask
                    .triangle.triangle-135.top-inner.left-inner
                    .triangle.triangle-45.top-inner.right-inner
                    .triangle.triangle-225.bottom-inner.left-inner
                    .triangle.triangle-315.bottom-inner.right-inner
                    .triangle.triangle-45.top-inner.left-outer.offset-x-p
                    .triangle.triangle-135.top-inner.right-outer.offset-x-p
                    .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
                    .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
                    .line.line-v-100.top-inner.right-outer
                    .line.line-v-50.top-inner.left-outer
                    .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
                    .rectangle.rectangle-50.left-inner.bottom-inner
                        .triangle.triangle-225.left-inner.top-outer
                        .triangle.triangle-225.bottom-inner.right-outer
                        .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                        .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                        .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
                    picture 
                        source(srcset="img/promo-img-mob.webp", type="image/webp", media="(max-width: 575px)")
                        source(srcset="img/promo-img-mob.jpg", media="(max-width: 575px)")
                        source(srcset="img/promo-img.webp", type="image/webp")
                        img.mask__img(src="img/promo-img.jpg", alt="", data-aos="fade-in")
                    .mask__inner(data-aos="fade-down", data-aos-delay="100") 
                        //- .text-center
                        //-     img(src="img/logo.png", alt="", width="50")
                        //- .h3.text-center.text-uppercase.text-bold White Clean
                        .text-center.text-light 
                            b.text-bold Ми працюємо в містах: 
                            | Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице
                        //- include socials