section.reviews.block#reviews 
    #map-load-trigger
    .container
        .row.g-4 
            .col-12
                .row.align-items-center.justify-content-between.flex-nowrap
                    .col-auto(data-aos="fade-right")
                        h2.reviews__title.text-uppercase Відгуки
                        h3.reviews__subtitle.h4.h6.text-light.mb-0 Реальні історії задоволених замовників
                    .col-auto(data-aos="fade-left") 
                        .swiper-navigation
                            .reviews-button-prev.btn.btn-third-outline.btn-small
                                .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                            .reviews-button-next.btn.btn-third-outline.btn-small
                                .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .col-12(data-aos="fade-in", data-aos-delay="100") 
                .swiper.reviews-swiper 
                    .swiper-wrapper
                        .swiper-slide
                            .review.card.card-primary-outline 
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="K", style="--bg-color: teal")
                                    //- div
                                    h4.h6.review__name Jana Nováková
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Замовляла хімчистку дивану після ремонту. Дуже задоволена — меблі знову виглядають як нові, а запах пилу повністю зник."

                        .swiper-slide
                            .review.card.card-primary-outline 
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="Р", style="--bg-color: navy")
                                    //- div
                                    h4.h6.review__name Petr Dvořák
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Мав старе крісло з плямами від кави. Після обробки все зникло, тканина стала свіжою, результат перевершив очікування."

                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="M", style="--bg-color: brown")
                                    //- div
                                    h4.h6.review__name Lucie Svobodová
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Давно хотіла освіжити матрац у спальні. Робота зроблена швидко й акуратно, спати стало набагато комфортніше."

                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="O", style="--bg-color: darkgreen")
                                    //- div
                                    h4.h6.review__name Tomáš Procházka
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "У матраці була алергенна пилюка. Після хімчистки зникли запахи, матрац чистий і приємний, нарешті можу спати спокійно."

                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="Д", style="--bg-color: maroon")
                                    //- div
                                    h4.h6.review__name Alena Veselá
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Килим у вітальні був у жахливому стані, особливо після дітей. Тепер він як новий, кольори знову яскраві!"
                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="E", style="--bg-color: indigo")
                                    //- div
                                    h4.h6.review__name Martin Horák
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Дуже задоволений сервісом. Килим очистили від плям і пилу, навіть ворс став м’якшим на дотик."
                        .swiper-slide
                            .review.card.card-primary-outline 
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="S", style="--bg-color: darkslateblue")
                                    //- div
                                    h4.h6.review__name Eva Černá
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Замовила прибирання після орендарів. Все ідеально чисто, навіть у важкодоступних місцях — справжні професіонали."

                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="Н", style="--bg-color: seagreen")
                                    //- div
                                    h4.h6.review__name Jan Marek
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Користуюся клінінгом регулярно для офісу. Завжди пунктуально, швидко та якісно. Рекомендую."
                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="Н", style="--bg-color: seagreen")
                                    //- div
                                    h4.h6.review__name Barbora Králová
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Вікна після миття просто сяють, жодних розводів. Дуже приємно дивитися на чистоту."
                        .swiper-slide
                            .review.card.card-primary-outline  
                                .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                .review__header
                                    //- .review__ava(data-letter="Н", style="--bg-color: seagreen")
                                    //- div
                                    h4.h6.review__name Ondřej Malý
                                    .rating.review__rating(style="--star-rating: 5;")
                                p.review__text "Великий будинок і багато вікон, сам би точно не впорався. Команда зробила все швидко і на відмінно."