section.services#services.block
        .container
            .row.g-4
                .col-12
                    .row.align-items-center.justify-content-between
                        .col-auto(data-aos="fade-right") 
                                h2.services__title.text-uppercase.mb-0 Послуги
                        .col-auto(data-aos="fade-left")  
                            .swiper-navigation
                                .services-button-prev.btn.btn-third-outline.btn-small.btn-rhombus
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                        path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                                .services-button-next.btn.btn-third-outline.btn-small.btn-rhombus
                                    .triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                    svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                        path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
                .col-12(data-aos="fade-in", data-aos-delay="200")  
                    .swiper.services-swiper 
                        .swiper-wrapper
                            .swiper-slide
                                .service.card.card-primary-outline
                                    .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                    .service__header
                                        .service__img
                                            .triangle.triangle-extra-small.triangle-135.top-inner.left-inner 
                                            .triangle.triangle-extra-small.triangle-45.top-inner.right-inner
                                            .triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
                                            .triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
                                            picture
                                                source(srcset="img/service-furniture.webp", type="image/webp")
                                                img(src="img/service-furniture.jpg", alt="Хімчистка м'яких меблів", loading="lazy", height="200")
                                    .service__body
                                        h6.service__title.text-third Хімчистка м'яких меблів
                                        .service__description Ми ефективно видаляємо плями та усуваємо неприємний запах з усіх видів м'яких меблів: дивани, крісла, стільці.
                                    .service__footer 
                                        a.service__more(href="furniture.html") Детальніше
                            .swiper-slide
                                .service.card.card-primary-outline
                                    .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                    .service__header
                                        .service__img
                                            .triangle.triangle-extra-small.triangle-135.top-inner.left-inner 
                                            .triangle.triangle-extra-small.triangle-45.top-inner.right-inner
                                            picture.service__img
                                                source(srcset="img/service-mattress.webp", type="image/webp")
                                                img(src="img/service-mattress.jpg", alt="Хімчистка матраців", loading="lazy", height="200")
                                    .service__body
                                        h6.service__title.text-third Хімчистка матраців
                                        .service__description Ми безпечно та ефективно видаляємо бруд та плями, піт та неприємний запах з односпальних та двоспальних матраців.
                                    .service__footer 
                                        a.service__more(href="mattress.html") Детальніше
                            .swiper-slide
                                .service.card.card-primary-outline
                                    .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                    .service__header
                                        .service__img
                                            .triangle.triangle-extra-small.triangle-135.top-inner.left-inner 
                                            .triangle.triangle-extra-small.triangle-45.top-inner.right-inner
                                            picture.service__img
                                                source(srcset="img/service-carpet.webp", type="image/webp")
                                                img(src="img/service-carpet.jpg", alt="Хімчистка килимів", loading="lazy", height="200")
                                    .service__body
                                        h6.service__title.text-third Хімчистка килимів
                                        .service__description Ми глибоко видаляємо бруд та плями, шерсть домашніх тварин зкилимів та килимових покриттів.
                                    .service__footer 
                                        a.service__more(href="carpet.html") Детальніше
                            .swiper-slide
                                .service.card.card-primary-outline
                                    .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                    .service__header
                                        .service__img
                                            .triangle.triangle-extra-small.triangle-135.top-inner.left-inner 
                                            .triangle.triangle-extra-small.triangle-45.top-inner.right-inner
                                            picture.service__img
                                                source(srcset="img/service-window.webp", type="image/webp")
                                                img(src="img/service-window.jpg", alt="Mycie i polerowanie powierzchni szklanych", loading="lazy", height="200")
                                    .service__body
                                        h6.service__title.text-third Мийка вікон
                                        .service__description Професійне миття вікон різних конструкцій та розмірів
                                    .service__footer 
                                        a.service__more(href="window.html") Детальніше
                            .swiper-slide
                                .service.card.card-primary-outline
                                    .triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
                                    .triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
                                    .triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
                                    .service__header
                                        .service__img
                                            .triangle.triangle-extra-small.triangle-135.top-inner.left-inner 
                                            .triangle.triangle-extra-small.triangle-45.top-inner.right-inner
                                            picture.service__img
                                                source(srcset="img/service-cleaning.webp", type="image/webp")
                                                img(src="img/service-cleaning.jpg", alt="Czyszczenie tkanin i dekoracji", loading="lazy", height="200")
                                    .service__body
                                        h6.service__title.text-third Клінінг приміщень
                                        .service__description Ми робимо професійний та детальний клінінг примищень різних розмірів
                                    .service__footer 
                                        a.service__more(href="cleaning.html") Детальніше
                .col-12(data-aos="fade-up", data-aos-delay="400") 
                    .row.g-2.justify-content-center 
                        include cta-buttons