nav(class="socials")
    a(class="socials__item text-gradient-light", href="", target="_blank", aria-label="facebook")
        span.sr-only Facebook
        svg.icon(width="16", height="16")
            use(href="#facebook")
    a(class="socials__item text-gradient-light", href="", target="_blank", aria-label="tiktok")
        span.sr-only TikTok
        svg.icon(width="16", height="16")
            use(href="#tiktok")    
    a(class="socials__item text-gradient-light", href="", target="_blank", aria-label="tiktok")
        span.sr-only Instagram
        svg.icon(width="16", height="16")
            use(href="#instagram")