include ../mixins/categories
section.block.why 
	.container 
		.row.g-4
			.col-12(data-aos="fade-down") 
				h2.text-center.why__title Чому варто обрати White Clean ?
				h3.h6.text-center.text-light.why__subtitle.mb-0 Нас обирають за надійність та результат.
			.col-12(data-aos="fade-in", data-aos-delay="100") 
				.text-center
					include before-after/furniture
			.col-12(data-aos="fade-in", data-aos-delay="200") 
				.row.g-2
					.col-12.col-sm-6.col-xl-3
						.card.card-primary-outline.text-center.text-left-sm
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.card__icon 
								svg(width="48", height="48")
									use(href="#dirt")
							h4.h6.card__title Видалення плям
							.card__body Ми використовуємо спеціальні хімікати для різних типів плям
					.col-12.col-sm-6.col-xl-3
						.card.card-primary-outline.text-center.text-left-sm
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.card__icon 
								svg(width="48", height="48")
									use(href="#smell")
							h4.h6.card__title Видалення запахів
							.card__body Якісне та глибоке очищення дозволяють нам позбутися неприємних запахів

					.col-12.col-sm-6.col-xl-3
						.card.card-primary-outline.text-center.text-left-sm
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.card__icon 
								svg(width="48", height="48")
									use(href="#color")
							h4.h6.card__title Відновлення кольору
							.card__body Після професійного чищення ваші меблі повернуть собі первісний колір та зовнішній вигляд

					.col-12.col-sm-6.col-xl-3
						.card.card-primary-outline.text-center.text-left-sm
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							.card__icon 
								svg(width="48", height="48")
									use(href="#quality")
							h4.h6.card__title Найвища якість
							.card__body Навіть у складних випадках ви отримаєте результат найвищої якості