$grid-gutter-width: 1.5rem;
$grid-gutter-height: 1.5rem;
$gutter: $grid-gutter-width;
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';







*,
*:before,
*:after {
  box-sizing: border-box;
}

// .row {
//   --bs-gutter-y: 1.5rem;
// }

:root {
  --h1: 1.625rem;
  --h2: 1.5rem;
  --h3: 1.375rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
  --container-size: calc(100% - ($grid-gutter-width * 2));

  @media screen and (min-width: 576px) {
    --container-size: 540px;
  }

  @media screen and (min-width: 768px) {
    --container-size: 720px;
    --h1: 2rem;
    --h2: 1.75rem;
    --h3: 1.5rem;
  }

  @media screen and (min-width: 992px) {
    --container-size: 960px;
  }

  @media screen and (min-width: 1200px) {
    --container-size: 1140px;
    --h1: 2.25rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.375rem;
    --h6: 1.125rem;
  }
  @media screen and (min-width: 1400px) {
    --container-size: 1320px;
  }

}

h1,
h2 {
  line-height: 1.2;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

[class*="title" i]:has(+ [class*="subtitle" i]) {
  margin-bottom: 0.5rem;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
  overflow-x: hidden;
  color: var(--fourth-color);

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }


}



h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Raleway';
  margin-bottom: 1em;
  margin-top: 0;
  font-weight: 700;
}

li:not(:last-child):not(.bullet) {
  margin-bottom: 0.5rem;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-gold {
  color: rgb(122, 106, 0);
}
.text-yellow {
  color: yellow;
}

.text-digits {
  font-family: 'Times New Roman', Times, serif;
}

.text-uppercase {
  text-transform: uppercase;
}

br {
  line-height: 1;
  font-size: 0;
}




.rating {
  --star-size: 20px;
  --star-offset: 1px;
  width: calc(var(--star-size) * 5);
  height: var(--star-size);
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: repeat-x;
  }

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.62747L11.9214 6.24697C12.1014 6.67976 12.5084 6.97547 12.9756 7.01293L17.9627 7.41275L14.1631 10.6676C13.8071 10.9725 13.6516 11.451 13.7604 11.9069L14.9212 16.7735L10.6516 14.1656C10.2515 13.9213 9.74845 13.9213 9.34843 14.1656L5.07875 16.7735L6.23961 11.9069C6.34837 11.451 6.19291 10.9725 5.83692 10.6676L2.03726 7.41275L7.02438 7.01293C7.49162 6.97547 7.89863 6.67976 8.07864 6.24697L10 1.62747Z' stroke='%0095ff' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  &:after {
    width: calc(var(--star-size) * var(--star-rating));
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.42292 1.38746C9.63642 0.874148 10.3636 0.874147 10.5771 1.38746L12.4984 6.00695C12.5884 6.22335 12.7919 6.3712 13.0256 6.38993L18.0127 6.78975C18.5668 6.83417 18.7916 7.52574 18.3693 7.88741L14.5697 11.1422C14.3917 11.2947 14.314 11.5339 14.3683 11.7619L15.5292 16.6285C15.6582 17.1693 15.0699 17.5967 14.5955 17.3069L10.3258 14.699C10.1258 14.5768 9.87423 14.5768 9.67422 14.699L5.40454 17.3069C4.9301 17.5967 4.34182 17.1693 4.47081 16.6285L5.63167 11.7619C5.68605 11.5339 5.60832 11.2947 5.43032 11.1422L1.63066 7.88741C1.20845 7.52574 1.43315 6.83417 1.98731 6.78975L6.97444 6.38993C7.20806 6.3712 7.41156 6.22335 7.50157 6.00695L9.42292 1.38746Z' fill='%2300bbf0'/%3E%3C/svg%3E%0A");
  }
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
  &-right {
    margin-right: 0.25rem;
  }
  &-left {
    margin-left: 0.25rem;
  }
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

// .section {
//   padding: 30px 0;
//   display: flex;
//   align-items: center;
//   min-height: 100vh;

//   &__inner {
//     width: 100%;
//   }
// }

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  
  font-weight: 700;
  transition: background 400ms, color 800ms, transform 400ms;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  &-rounded {
    border-radius: 0.5rem;
  }

  &-rhombus {

  }

  &-primary {
    --substrate-color: var(--section-active-color, var(--section-color));
    --border-color: var(--text-color);

    background: var(--fourth-color);  
    color: var(--first-color);
    &:hover {
      background: var(--fourth-color-75);
    }
    &:active {
      background: var(--fourth-color);
    }
    &.active, .active &, .swiper-slide-thumb-active & {
      --border-color: var(--fourth-color); 

      background: #fff;
      color: var(--fourth-color);
    }
    
    &-outline {
      --substrate-color: var(--section-active-color, var(--section-color));
      --border-color: var(--fourth-color);

      background: #fff;  
      color: var(--fourth-color);
      &:hover {
        background: var(--first-color-75);
      }
      &:active {
        background: var(--first-color);
      }
      &.active, .active &, .swiper-slide-thumb-active & {
        --border-color: var(--first-color); 

        background: var(--fourth-color);
        color: var(--first-color);
      }
    }

  }

  &-secondary {
    --substrate-color: var(--section-active-color, var(--section-color));
    --border-color: var(--first-color);

    background: var(--second-color);
    color: var(--first-color);
    &:hover {
      background: var(--second-color-75);
    }
    &:active {
      background: var(--second-color);
    }
    &.active, .active &, .swiper-slide-thumb-active & {
      --border-color: var(--second-color); 
      background: var(--first-color);
      color: var(--second-color);
    }
    &-outline {
      --substrate-color: var(--section-active-color, var(--section-color));
      --border-color: var(--second-color);

      background: var(--first-color);
      color: var(--second-color);
      &:hover {
        background: var(--first-color-75);
      }
      &:active {
        background: var(--first-color);
      }
      &.active, .active &, .swiper-slide-thumb-active & {
        --border-color: var(--sefirstcond-color); 
        background: var(--second-color);
        color: var(--first-color);
      }
    }

  }

  &-third {
    --substrate-color: var(--section-active-color, var(--section-color));
    --border-color: var(--first-color);

    background: var(--third-color);
    color: var(--first-color);
    &:hover {
      background: var(--third-color-75);
    }
    &:active {
      background: var(--third-color);
    }
    &.active, .active &, .swiper-slide-thumb-active & {
      --border-color: var(--third-color); 
      background: var(--first-color);
      color: var(--third-color);
    }
    &-outline {
      --substrate-color: var(--section-active-color, var(--section-color));
      --border-color: var(--third-color);

      background: var(--first-color);
      color: var(--third-color);
      &:hover {
        background: var(--first-color-75);
      }
      &:active {
        background: var(--first-color);
      }
      &.active, .active &, .swiper-slide-thumb-active & {
        --border-color: var(--first-color); 
        background: var(--third-color);
        color: var(--first-color);
      }
    }
  }

  &-fourth {
    --substrate-color: var(--section-active-color, var(--section-color));
    --border-color: var(--fourth-color);

    background: var(--first-color);
    color: var(--fourth-color);
    &:hover {
      background: var(--first-color-75);
    }
    &:active {
      background: var(--first-color);
    }
    &.active, .active &, .swiper-slide-thumb-active & {
      --border-color: var(--first-color); 
      background: var(--fourth-color);
      color: var(--first-color);
    }
    &-outline {
      --substrate-color: var(--section-active-color, var(--section-color));
      --border-color: var(--first-color);

      background: var(--fourth-color);
      color: var(--first-color);
      &:hover {
        background: var(--fourth-color-75);
      }
      &:active {
        background: var(--fourth-color);
      }
      &.active, .active &, .swiper-slide-thumb-active & {
        --border-color: var(--fourth-color); 
        background: var(--first-color);
        color: var(--fourth-color);
      }
    }
  }

  &-transparent {
    background: transparent;
    color: inherit;
    border: none;
  }

  &-large {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }

  &-normal {
    padding: 1rem;
    font-size: 1rem;
  }

  &-small {
    padding: 0.75rem;
    font-size: 0.75rem;
  }

}


.card {

  padding: var(--padding, 1rem);
  position: relative;
  height: 100%;

  &-primary {
    --substrate-color: var(--section-color);
    --border-color: var(--first-color);
    --section-active-color: var(--fourth-color);

    background: var(--fourth-color);  
    color: var(--first-color);

    &.active {
      --section-active-color: var(--first-color);
      --border-color: var(--fourth-color); 

      background: var(--first-color);
      color: var(--fourth-color);
    }
    &-outline {
      --substrate-color: var(--section-color);
      --border-color: var(--fourth-color);
      --section-active-color: var(--first-color);

      background: var(--first-color);  
      color: var(--fourth-color);

      &.active {
        --section-active-color: var(--fourth-color);
        --border-color: #fff; 

        background: var(--fourth-color);
        color: var(--first-color);
      }
    }

  }

  &-secondary {
    --substrate-color: var(--section-color);
    --border-color: var(--first-color);
    --section-active-color: var(--second-color);

    background: var(--second-color);
    color: var(--first-color);

    &.active {
      --section-active-color: var(--first-color);
      --border-color: var(--second-color); 
      background: var(--first-color);
      color: var(--second-color);
    }
    &-outline {
      --substrate-color: var(--section-color);
      --border-color: var(--second-color);
      --section-active-color: var(--first-color);

      background: var(--first-color);
      color: var(--second-color);

      &.active {
        --section-active-color: var(--second-color);
        --border-color: var(--first-color); 

        background: var(--second-color);
        color: var(--first-color);
      }
    }

  }

  &-third {
    --substrate-color: var(--section-color);
    --border-color: var(--first-color);
    --section-active-color: var(--third-color);

    background: var(--third-color);
    color: var(--first-color);

    &.active {
      --section-active-color: var(--first-color);
      --border-color: var(--third-color); 
      background: var(--first-color);
      color: var(--third-color);
    }
    &-outline {
      --substrate-color: var(--section-color);
      --border-color: var(--third-color);
      --section-active-color: var(--first-color);

      background: var(--first-color);
      color: var(--third-color);

      &.active {
        --section-active-color: var(--third-color);
        --border-color: var(--first-color); 
        background: var(--third-color);
        color: var(--first-color);
      }
    }
  }

  &-fourth {
    --substrate-color: var(--section-color);
    --border-color: var(--fourth-color);
    --section-active-color: var(--first-color);

    background: var(--first-color);
    color: var(--fourth-color);

    &.active{
      --section-active-color: var(--fourth-color);
      --border-color: var(--first-color); 
      background: var(--fourth-color);
      color: var(--first-color);
    }
    &-outline {
      --substrate-color: var(--section-color);
      --border-color: var(--first-color);
      --section-active-color: var(--fourth-color);

      background: var(--fourth-color);
      color: var(--first-color);

      &.active {
        --section-active-color: var(--first-color);
        --border-color: var(--fourth-color); 
        background: var(--first-color);
        color: var(--fourth-color);
      }
    }
  }
}


@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.swiper-navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ol {
  &:has(.bullet) {
    counter-reset: reason;
    list-style: none;
    padding: 0 0 0 1rem;
  }


  .bullet {
    counter-increment: reason;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__icon {
      width: 70px;
      flex-shrink: 0;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      --counter-size: 40px;

      &:before {
        content: counter(reason);
        display: block;
        width: var(--counter-size);
        height: var(--counter-size);
        border: 2px dashed var(--fourth-color);
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: calc(var(--counter-size) - 4px);
        font-weight: 700;
        font-size: 1rem;
        z-index: 3;
        flex-shrink: 0;
      }
    }

    &__description {
      margin-bottom: 0;
      margin-top: 0;
      width: 100%;
      border-bottom: 1px solid var(--fourth-color);
      padding-bottom: 1rem;
      flex-grow: 1;
    }
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

*:has(>.sr-only) {
  position: relative;
}


.block-img {
  --border-radius: 2rem;
  --mask-width: 140px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;

  &-left {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  &-right {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

}


.active .in-active-none {
  display: none;
}
.active .in-inactive-none {
  display: block;
}

.in-inactive-none {
  display: none;
}

.text-white {
  color: #fff;
}


.card__icon svg {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, var(--fourth-color) 0, var(--third-color) 100%);
}

.text-gradient-dark {
      background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, var(--fourth-color) 0, var(--third-color) 100%);
}
.text-gradient-light {
      background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, var(--first-color) 0, var(--second-color) 100%);
}

.w-100 {
  width: 100%;
}