// :root {
//   --first-color: #e1eacd;
//   --second-color: #bad8b6;
//   --third-color: #61b390;
//   --fourth-color: #01352c;
// }
:root {
  --first-color: #fff;
  --first-color-75: #fff;
  --second-color: #00bbf0;
  --second-color-75: #33d3ff;
  --third-color: #0095ff;
  --third-color-75: #1fa2ff;
  --fourth-color: #003984;
  --fourth-color-75: #054394;
}


