section.details.bg.bg-dark
  .container 
    .row.flex-column-reverse.flex-lg-row
      .col-12.col-lg-8.align-self-center 
        .block
          .row.g-4 
            .col-12(data-aos="fade-left", data-aos-delay="200")
              h1.details__title.mb-0.text-uppercase Хімчистка матраців у Празі та околицях
            .col-12
                .details__subtitle.extractor 
                    .extractor__cleaner(data-aos="fade-left", data-aos-delay="300") 
                    h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left", data-aos-delay="400") Професійна хімчистка матраців допоможе позбутися пилу, плям та алергенів. Ми відновлюємо свіжість і чистоту вашого спального місця, щоб ви могли насолоджуватися здоровим та комфортним сном.
            .col-12(data-aos="fade-left", data-aos-delay="500") 
              ul.m-0
                li Глибоке очищення від пилу, бруду та кліщів
                li Усунення неприємних запахів і вологи
                li Видалення плям від напоїв та інших забруднень
                li Безпечні гіпоалергенні засоби
                li Подовження терміну служби матрацу
                li Виїзд у зручний час у Празі та околицях
            .col-12(data-aos="fade-in", data-aos-delay="600")  
              .row.g-2.justify-content-center.justify-content-sm-start 
                include ../cta-buttons
      .col-12.col-lg-4
          .mask
              .triangle.triangle-135.top-inner.left-inner
              .triangle.triangle-45.top-inner.right-inner
              .triangle.triangle-225.bottom-inner.left-inner
              .triangle.triangle-315.bottom-inner.right-inner
              .triangle.triangle-45.top-inner.left-outer.offset-x-p
              .triangle.triangle-135.top-inner.right-outer.offset-x-p
              .triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
              .triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
              .line.line-v-100.top-inner.right-outer
              .line.line-v-50.top-inner.left-outer
              .line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
              .rectangle.rectangle-50.left-inner.bottom-inner
                  .triangle.triangle-225.left-inner.top-outer
                  .triangle.triangle-225.bottom-inner.right-outer
                  .triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
                  .rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
                  .triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
              img.mask__img(src="img/service-mattress.jpg", alt="", data-aos="fade-in")
              .mask__inner(data-aos="fade-down", data-aos-delay="200") 
                  .text-center
                      img(src="img/logo.png", alt="", width="50")
                  .h3.text-center.text-uppercase.text-bold White Clean
                  p.text-center.text-light Прага, Чешская Будиевица, Чешский Крумлов, Прахатице, Писек, Табор, Їндржихув-Градец, Страконице
                      //- br
                      //- span Пн. - Сб. 
                      //- span.text-digits 7.00 - 22.00
                  include ../socials